.bg-container {
    background:url("https://res.cloudinary.com/dy2iezllj/image/upload/v1725639653/IMG_20240906_214919_d2rs2w.png");
    background-size:cover;
    height:100vh;
}
.card-container {
  margin-top:30px;
  display:flex;
  justify-content:center;
  padding:10%;
}
.heading{
  color:white;
}
.text {
  color:#0ef;
}
.icons-html {
    color: #c95d2e;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right:5%;
}
.icons-html:hover {
  transform:translateY(-10px)
  
}
.icons-css {
    color: #147bbc;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right:5%;
}
.icons-css:hover {
  transform:translateY(-10px)
  
}
.icons-python {
    color: #b0bc1e;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right:5%;
}
.icons-python:hover {
  transform:translateY(-10px)
}
.icons-javascript {
    color: #c32ec9;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right:5%;
}
.icons-javascript:hover {
  transform:translateY(-10px)
}

.icons-nodejs {
    color: rgb(79, 165, 79);
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right:5%;
}
.icons-nodejs:hover {
  transform:translateY(-10px)
}

.icons-reactjs {
    color: #69bcbc;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right:5%;
}
.icons-reactjs:hover {
  transform:translateY(-10px)
}
.html-container {
  margin-right:5%;
  background-color:transparent;
    padding:40px;
    font-size:13px;
    font-weight:13px;
    border-right:10px;
    border-radius:20px;
    transition:background 0.5s,transform 0.5s;
    box-shadow : 1px 1px 20px #012290f7,
               1px 1px 40px #0053b8f7
}
.html-container {
  margin-right:5%;
  text-align:center;
}
