.about {
    background-image:url("https://res.cloudinary.com/dy2iezllj/image/upload/v1725639653/IMG_20240906_214919_d2rs2w.png");
    background-size:cover;
    height:110vh;
}
.heading {
    font-family:"roboto";
    font-size:30px;
    font-weight:bold;
}
.image-2 {
    border-radius:30%;
    width:90%;
    height:90%;
    margin-top:120px;

}
.about {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    align-items:center;
    gap:1.5rem;
}
.about-img{
    padding-bottom:20%;
    max-width:630px;
    height:auto;
    width:100%;
    border-radius:8px;
}
.about-text h2 {
    font-size:60px;
}
.about-text h2 span {
    color:#0ef;
}
.btn-box {
    display:inline-block;
    padding:12px 28px;
    background:#0ef;
    border-radius:40px;
    font-size:16px;
    color:#081b29;
    margin:20px;
    letter-spacing: 1px;
    text-decoration:none;
    font-weight:600;
  }
.btn-box:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}